{% extends 'shareds/base.html' %}

{% block title %}Chat - {{ room.name }}{% endblock title %}

{% block content %}
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>

<section class="mx-auto" style="max-width: 600px;" hx-ext="ws" 
     ws-connect="{% if request.is_secure %}wss{% else %}ws{% endif %}://{{ request.get_host }}/ws/chat/{{ room.name|urlencode }}/">
  <!-- HEADER -->
  <div class="p-2 d-flex align-items-center gap-2">
    <a href="{% url 'room_list' %}" 
      class="p-1 btn btn-outline-light border-0">
      <i class="bi bi-arrow-left fs-5"></i>
    </a>
    <h2 class="m-0">{{ room.name }}</h2>
  </div>


  <!-- BODY -->
  <div id="chat-messages" class="p-2 d-flex flex-column-reverse gap-3">
    {% for msg in messages %}
      {% include 'chat/message.html' %}

    {% empty %}
      <div id="no-messages" class="m-2 alert alert-info">
        <i class="bi bi-info-circle"></i>
        <span>Nessun messaggio</span>
      </div>
    {% endfor %}
  </div>
  

  <!-- FOOTER -->
  <div class="py-5">
    <div class="p-2 fixed-bottom text-bg-dark">
      <div class="mx-auto" style="max-width: 400px;">
        <form id="chat-form" class="input-group" 
              ws-send hx-on="htmx:wsAfterSend: this.reset()">
          <input id="chat-message-input" class="form-control" 
                 placeholder="Scrivi un messaggio" 
                 required autocomplete="off" name="text" type="text">
          
          <button id="chat-message-submit" class="btn btn-success" type="submit">
            <i class="bi bi-send"></i>
            <span class="d-none d-md-inline">Invia</span>
          </button>
        </form>
      </div>
    </div>
  </div>
  
</section>
{% endblock %}
