{% extends 'base.html' %}
{% load catalogo_extras %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row align-items-center mb-4">
  <div class="col-6">
    <h2 class="text-truncate m-0">{{title}}</h1>
  </div>
  
  <div class="col-6 d-flex justify-content-end">
    <a href="{% url 'risorsa_create' %}" class="btn btn-success text-truncate">
      Aggiungi Nuova Risorsa
    </a>
  </div>
</div>

<div class="row align-items-center mb-4">
  {# FILTRO #}
  <div class="p-2 col-12 col-md-6">
    <form method="get" class="mx-auto d-flex flex-grow-1 mx-3" style="max-width: 400px;">
      {% csrf_token %}
      <input type="hidden" name="sort" value="{{ sort_field }}">
      <input type="hidden" name="dir" value="{{ sort_dir }}">
      <input type="hidden" name="limit" value="{{ pagination_current_limit }}">
      <div class="input-group">
        <input type="text" name="filter" class="form-control" placeholder="Cerca per titolo..." value="{{ filter_value }}">
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-search"></i>
          Cerca
        </button>
        {% if filter_value %}
          <a href="?sort={{ sort_field }}&dir={{ sort_dir }}&limit={{ pagination_current_limit }}" 
             class="btn btn-danger">
            <i class="bi bi-x-lg"></i>
            Reset
          </a>
        {% endif %}
      </div>
    </form>
  </div>
  
  
  {# PAGINAZIONE #}
  <div class="p-2 col-12 col-md-6">
    <nav class="d-flex justify-content-center" aria-label="Risorse page navigation">
      <form method="get" class="me-3" style="width:250px">
        {% csrf_token %}
        <input type="hidden" name="sort" value="{{ sort_field }}">
        <input type="hidden" name="dir" value="{{ sort_dir }}">
        <input type="hidden" name="filter" value="{{ filter_value }}">
        <label for="limit" class="visually-hidden">Risultati:</label>
          
        <select name="limit" id="limit" class="py-2 form-select form-select-sm" onchange="this.form.submit()">
          {% for val in pagination_allowed_limits %}
            <option value="{{ val }}" 
                    {% if pagination_current_limit|stringformat:"s" == val %}selected{% endif %}>
                    {{ val }} per pagina</option>
          {% endfor %}
        </select>
      </form>
      
      <ul class="m-0 pagination">
        <li class="page-item {% if not risorse.has_previous %}disabled{% endif %}">
          <a class="btn text-white" href="{% if risorse.has_previous %}?page={{ risorse.previous_page_number }}&sort={{ sort_field }}&dir={{ sort_dir }}&limit={{ pagination_current_limit }}&filter={{ filter_value }}{% else %}#{% endif %}">
            <i class="bi bi-chevron-left"></i>
          </a>
        </li>
  
        {% for i in pagination_page_range %}
          {% if i == risorse.paginator.ELLIPSIS %}
            <li class="page-item disabled">
              <span class="page-link">{{ i }}</span>
            </li>
            {# PAGGINA CORRENTE #}
          {% elif i == risorse.number %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">{{ i }}</span>
            </li>
            {# PAGINA NORMALE #}
          {% else %}
            <li class="page-item ">
              <a class="btn text-white" href="?page={{ i }}&sort={{ sort_field }}&dir={{ sort_dir }}&limit={{ pagination_current_limit }}&filter={{ filter_value }}">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}
  
        <li class="page-item {% if not risorse.has_next %}disabled{% endif %}">
          <a class="btn text-white" href="{% if risorse.has_next %}?page={{ risorse.next_page_number }}&sort={{ sort_field }}&dir={{ sort_dir }}&limit={{ pagination_current_limit }}&filter={{ filter_value }}{% else %}#{% endif %}">
            <i class="bi bi-chevron-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="border rounded overflow-hidden">
  <div class="table-responsive">
    <table class="m-0 table table-hover table-dark">
      <caption class="px-2 text-bg-dark caption-top">Elenco delle risorse disponibili</caption>
      <thead>
        <tr>
          {% for head in headings %}
          <th>
            <a class="p-1 btn btn-dark text-start w-100 d-flex justify-content-between align-items-center" 
               href="?sort={{ head.key }}&dir={{ head.next_dir }}&limit={{ pagination_current_limit }}&filter={{ filter_value }}">
              <span>{{ head.label }}</span> 
              {% if sort_field == head.key %}
                {% if sort_dir == 'asc' %} <i class="bi bi-caret-down-fill"></i>
                {% elif sort_dir == 'desc' %}<i class="bi bi-caret-up-fill"></i>
                {% else %}<i class="bi bi-dash"></i>
                {% endif %}
              {% endif %}
            </a>
          </th>
          {% endfor %}
          
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        {% for risorsa in risorse %}
        <tr>
          {% for head in headings %}
          <td>
            {% if head.type == 'boolean' %}
              {% if risorsa|get_attr:head.key %}
                <span class="badge text-bg-success">
                  <i class="bi bi-check-lg fs-5"></i>
                </span>
              {% else %}
                <span class="badge text-bg-danger">
                  <i class="bi bi-x-lg fs-5"></i>
                </span>
              {% endif %}

            {% else %}
            <span class="{{ head.class }}">
              {{ risorsa|get_attr:head.key }}
            </span>
            {% endif %}
          </td>
          {% endfor %}

          <td>
            <div class="d-flex flex-wrap gap-2">
              <a class="btn btn-sm btn-primary" href="{% url 'risorsa_update' risorsa.pk %}">
                <i class="bi bi-pencil"></i> Modifica
              </a>
              <a class="btn btn-sm btn-danger" href="{% url 'risorsa_delete' risorsa.pk %}">
                <i class="bi bi-trash"></i> Elimina
              </a>
            </div>
          </td>
        </tr>

        {% empty %}
        <tr>
          <td colspan="6" class="text-center py-4">Nessuna risorsa trovata nel catalogo.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
